$font-main: Inter;
$font-bold: 800;
$dark-grey: #343434;
$light-grey: #E3E3E5;
$sta-primary-dark: black;
$sta-primary-light: grey;

/* background color for body */
body {
  background-color: white;
}

/* top level font and styling*/
h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $sta-primary-dark;
}

.section-heading p {
  color: $dark-grey;
}

/* intro animation */

#profile {
  
  .avatar.avatar-circle {
  opacity: 0;
  position: relative;
  right: -1000px;
  -webkit-animation: slide-left 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: slide-left 2s forwards cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }

  .portrait-title {
    opacity: 0;
    position: relative;
    left: -1000px;
    -webkit-animation: slide-right 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation: slide-right 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
  
  @-webkit-keyframes slide-right {
      100% { left: 0; opacity: 1}
  }
  
  @keyframes slide-right {
      100% { left: 0; opacity: 1; }
  }
  
  @-webkit-keyframes slide-left {
      100% { right: 0; opacity: 1; }
  }
  
  @keyframes slide-left {
      100% { right: 0; opacity: 1; }
  }
  
  .network-icon {
    .fa-envelope {
      opacity: 0;
      animation: grow 2s ease forwards;
      animation-delay: 1s;
    }
    
    .fa-twitter {
      opacity: 0;
      animation: grow 2s ease forwards;
      animation-delay: 1.5s;
    }
    
    .fa-github {
      opacity: 0;
      animation: grow 2s ease forwards;
      animation-delay: 2s;
    }
    
    @-webkit-keyframes grow {
        100% { opacity: 1; }
    }
    
    @keyframes grow {
        100% { opacity: 1; }
    } 
  }
}

/* buttons */
.btn {
  border-radius: 5px;
  margin: 2.5px;
  padding: .3rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 $dark-grey;
  color: $dark-grey;
  border-color: $sta-primary-dark;
  background-color: white !important;
  justify-content: center; 
}


.btn:focus {
  box-shadow: 3px 3px 0 0 white !important;
  color: $sta-primary-dark;
}

.btn:hover {
  background-color: $light-grey !important;
  color: $sta-primary-dark;
}

.btn-toolbar .btn.active  {
  background-color: $sta-primary-dark !important;
  box-shadow: 3px 3px 0 0 white !important;
}

.btn-links .btn {
  padding: .3rem;
}

.btn-links .btn:hover {
  padding: .3rem;
  color: $sta-primary-dark;
  border-color: $sta-primary-dark;
  background-color: $dark-grey !important;
}

/* toolbar */
.navbar .navbar-nav .nav-link.active {
  color: $sta-primary-dark !important;
}

/* link styling */
.card-text p a, .powered-by a {
  text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 5px 5px;
   overflow: hidden;
   color: black;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.card-text p a::before, .powered-by a::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   border-radius: 2.5px;
   background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,52,52,1) 35%, rgba(136,136,136,1) 100%);
   transition: transform .25s ease-out;
}

.card-text p a:hover, .powered-by a:hover { 
   color: #fff; 
}
.card-text p a:hover::before, .powered-by a:hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}

/* blog formatting */
.hljs {
  background: $light-grey !important;
}

.article-style {
  a {
    color: red;
    border-bottom: 1px dotted grey;
  }
  
  a:hover {
    border-bottom: 1px solid red;
    text-decoration: none;
  }
}


/* footer */
.powered-by {
  font-size: .9em;
}

footer {
  margin: auto !important;
}

footer p {
  margin-bottom: 0 !important;
}

/* awards and experience cards */
.card.experience.course.card-title {
  font-size: 1rem;
}

.card-subtitle.my-0.article-metadata,
.card .text-muted.exp-meta {
  font-size: .8rem;
  letter-spacing: 0 !important;
}

.course .card-body .card-text,
.experience .card-body .card-text {
  padding: .8rem 0.5rem .8rem 0 !important;
}